<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <button type="button" ng-click="increment">增加</button>
    <input type="text" ng-model="count">
    <input type="text" ng-model="count">
    <script src="scope.js"></script>
    <script>
        var $scope = new Scope();
        $scope.count = 1;
        $scope.increment = function () {
            $scope.count++;
        };
        $scope.$digest();
    </script>
</body>
</html>